<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Serilog Settings-->
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:ApplicationInsights" value="Serilog.Sinks.ApplicationInsights" />
    <add key="serilog:write-to:ApplicationInsightsTraces.instrumentationKey" value="EnterYourInstrumentationID" /> <!-- Instrumentation ID comes from Azure Portal-->
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="Logs\.log" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
    <add key="serilog:write-to:File.fileSizeLimitBytes" value="52428800" />
    <add key="serilog:write-to:File.outputTemplate" value="{Timestamp:HH:mm:ss.fff yyyy-MM-dd} [{Level:u3}]  {EnvironmentUserName}  {Message:lj}{NewLine}{Exception}" />
    <add key="serilog:using:Environment" value="Serilog.Enrichers.Environment" />
    <add key="serilog:enrich:WithEnvironmentUserName" />
  </appSettings>
</configuration>